doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Bikin Aplikasi Smartphone
        h3 Langkah Awal Menjadi Developer Mobile Apps
      
      section
        h2 Overview
        
        ul
         li Pengenalan Ionic
         li Konfigurasi Ionic
         li 15.00 Aplikasi Pertama
         li 15.30 Aplikasi Bacrit
         li 16.00 Tanya Jawab

      section
           h2 1. Pengenalan Framework Ionic
           
           p.
             PIonic merupakan framework HTML5 yang masih baru, dirilis tahun 2014. 
             Framework ini membantu Anda dalam mengembangkan aplikasi mobile dengan teknologi web seperti
             HTML, CSS dan Javascript.
             Framework Ionic adalah sekumpulan teknologi yang dikembangkan untuk membangun
             aplikasi mobile hybrid yang powerful, cepat, mudah dan juga memiliki tampilan yang
             menarik. Ionic menggunakan AngularJS sebagai framework berbasis web dan menggunakan
             Cordova untuk membangun aplikasi mobile.
        
      section
        h2 2. Konfigurasi Ionic
        h3 2.1 Download dan Install Java
        p. Pastikan Java telah terinstal di komputer Anda. Java dibutuhkan untuk menjalankan Android
          SDK. Untuk mengeceknya, bisa melalui Command Prompt, ketikkan Java.
        image('cmd_java.jpg.png')
      section
        h2 2.2 Download Apache Ant
        
        p selanjutnya ekstrak file download apache-ant-1.9.4-bin.zip di direktori yang Anda inginkan.
         
        ul
           li Kemudian tambahkan path ke folder bin/di variabel PATH environment.
      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')